<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>No, Kostya. He&apos;s a Light one. And Light ones only drink blood in one situation... when they&apos;re hunting those like us.</string>
	<string>Go away! Go away, you filth! I&apos;ll rip your little head off!</string>
	<string>Night Watch. Everyone step out of the Twilight.</string>
	<string>You want to be human? Then act like a human.</string>
	<string>Yes, Yegor. They are little boys who have been known to suck all the life out of their parents.</string>
	<string>Since the time immemorial, the knights who call themselves the Warriors of Light have been chasing witches and sorcerers who torture humans.</string>
	<string>He can see us. He&apos;s an Other.</string>
	<string>But as long as there are those who believe in Light, hope is still here.</string>
	<string>Ah, the Light mage with a Dark past has come... just the one I&apos;m looking for...</string>
	<string>A miracle in feathers. Mmm? Well, say something. Be human.</string>
	<string>Turn away!... Turn away!... Don&apos;t turn around!</string>
	<string>What, you&apos;ve sunk to pig&apos;s blood?</string>
</array>
</plist>
